
.Icon{
    padding: 12px;
    width: 24px;
    height: 24px;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
}

.Icon-Check{
    color:  #7C7C7C;
}
.Icon-Check:hover svg{
    fill:green;
}

.Icon-Check--Completed{
    color: #01BE01;
}

.Text--Completed{
    text-decoration: line-through;
}

.Icon-Delete{
    position: absolute;
    top:-30px;
    right: -24px;
    
}

.Icon-Delete:hover svg {
    fill: red;
  }