.backGround-addTask{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    color: white;
    opacity: .95;
    /* z-index: 2; */
}
