.TodoItem{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
    margin: 20px;    
    position: relative;
   
}

.TodoItem-Text{
    width: 800px;
    font-family: "Montserrat";
    font-size: 18px;
    cursor: pointer;
}

.TodoItem-Text:hover{
    color: green;
}