.TodoSearch{
    background-color: white;
    width: 600px;
    height: 64px;
    text-align: center;
    display: flex;
   
    font-family: 'Montserrat';
    font-size: x-large; 
    box-shadow: 0px 5px 50px 0px #20232940;


}

.TodoSearch ::placeholder{
    /* font-size: 64px; */
    color: #F2F4F5;
    font-weight: 400;
  
}